<% book_group = book_row %>
<% first = book_group.first %>
<% shown_urls = [] %>
<tr>
  <td class="thumbnail-cell">
    <%= book_thumbnail_tag(first) %>
  </td>
  <td>
    <%= first['name'] %>
  </td>
  <td>
    <%= first['author'] %>
  </td>
  <td>
    <%= first['publisher'] %>
  </td>
  <td>
    <%= first['year'] %>
  </td>
  <td class="source-links" style="white-space: nowrap;">
    <% book_group.each do |b| %>
      <%
        library = b['library']
        url = b['book_link'].presence || b['archive_url']
        next if url.blank? || shown_urls.include?(url) || url.include?('oudl.osmania.ac.in') || url.include?('dli.gov.in')
        shown_urls << url
        logo = store_logos[library]
      %>
      <span class="source-item" style="display: inline-block; margin-right: 8px;">
        <% if logo.present? %>
          <a href="<%= url %>" target="_blank" title="<%= library %>">
            <img src="<%= logo %>" alt="<%= library %>" style="width: 24px; height: 24px; object-fit: contain; vertical-align: middle;">
          </a>
        <% elsif url.include?('archive.org') %>
          <a href="<%= url %>" target="_blank" title="<%= library || 'Internet Archive' %>">
            <%= image_tag('internet-archive-logo.png', style: 'width: 24px; height: 24px; vertical-align: middle;') %>
          </a>
        <% else %>
          <a href="<%= url %>" target="_blank" title="<%= library %>" class="source-link" style="font-size: 11px;"><%= library %></a>
        <% end %>
      </span>
    <% end %>
  </td>
</tr>
