<table class="table table-striped">
  <thead>
    <tr>
      <th>  <%= t :book %> </th>
      <th>  <%= t :author %> </th>
      <th>  <%= t :publisher %> </th>
      <th>  <%= t :library %> </th>
      <th>  <%= t :year %> </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td>
        <%= book['book'] %>
      </td>
      <td>
        <%= book['author'] %>
      </td>
      <td>
        <%= book['publisher'] %>
      </td>
      <td>
        <%= book['library'] %>
      </td>
       <td>
        <%= book['year'] %>
      </td>
      <td>
        <%= link_to(clean_link(book[5]), target: '_blank') do %> <%= fa_icon "book 2x" %> <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% unless @books.empty? %>
<div class="apple_pagination">
  <%= paginate @books  %>
</div> 
<% end %>