<table class="table table-striped">
  <thead>
    <tr>
      <th>  <%= t :book %> </th>
      <th>  <%= t :author %> </th>
      <th>  <%= t :publisher %> </th>
      <th>  <%= t :library %> </th>
      <th>  <%= t :year %> </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td>
        <%= book['name'] %>
      </td>
      <td>
        <%= book['author'] %>
      </td>
      <td>
        <%= book['publisher'] %>
      </td>
      <td>
        <%= book['library'] %>
      </td>
       <td>
        <%= book['year'] %>
      </td>
      <td>
        <%= link_to(clean_link(book['link']), target: '_blank') do %> <%= fa_icon "book 2x" %> <% end %>
        <% if book['metadata'] %>
         <% if wikimedia_url(book['metadata']) &&  !wikimedia_url(book['metadata']).blank? %>
          <!-- Temp fix  -->
          <%= link_to wikimedia_url(book['metadata']), class: 'archive-url', target: '_blank'  do %> <%= image_tag('internet-archive-logo.png') %> <% end %>
         <% end %>
         <% if wikisource_url(book['metadata']) &&  !wikisource_url(book['metadata']).blank? %>
           <!-- Temp fix  -->
           <%= link_to wikisource_url(book['metadata']), class: 'archive-url', target: '_blank'  do %> <%= image_tag('commonswiki.png') %> <% end %>
          <% end %>
          <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% unless @books.empty? %>
<div class="apple_pagination">
  <%= paginate @books  %>
</div> 
<% end %>