<table class="table table-striped">
  <thead>
    <tr>
      <th>  <%= t :book %> </th>
      <th>  <%= t :author %> </th>
      <th>  <%= t :publisher %> </th>
      <th>  <%= t :library %> </th>
      <th>  <%= t :year %> </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td>
        <%= book[0] %>
      </td>
      <td>
        <%= book[1] %>
      </td>
      <td>
        <%= book[2] %>
      </td>
      <td>
        <%= book[3] %>
      </td>
       <td>
        <%= book[4] %>
      </td>
      <td>
        <%= link_to(clean_link(book[4]), target: '_blank') do %> <%= fa_icon "book 2x" %> <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% unless @books.empty? %>
<div class="apple_pagination">
  <%= paginate @books  %>
</div> 
<% end %>