<% s = stats %>

<div class="stat-simple">
  <div class="stat-item">
    <i class="fa fa-book" style="font-size: 24px; color: #5F3792; margin-bottom: 8px;"></i>
    <span class="stat-num"><%= number_with_delimiter(s['total_books'] || 0) %></span>
    <span class="stat-label"><%=t :books %></span>
  </div>
  <div class="stat-item">
    <i class="fa fa-building" style="font-size: 24px; color: #5F3792; margin-bottom: 8px;"></i>
    <span class="stat-num"><%= number_with_delimiter(s['total_libraries'] || 0) %></span>
    <span class="stat-label"><%=t :libraries %></span>
  </div>
  <div class="stat-item">
    <i class="fa fa-user" style="font-size: 24px; color: #5F3792; margin-bottom: 8px;"></i>
    <span class="stat-num"><%= number_with_delimiter(s['total_authors'] || 0) %></span>
    <span class="stat-label"><%=t :authors %></span>
  </div>
  <div class="stat-item">
    <i class="fa fa-tags" style="font-size: 24px; color: #5F3792; margin-bottom: 8px;"></i>
    <span class="stat-num"><%= number_with_delimiter(s['total_publishers'] || 0) %></span>
    <span class="stat-label"><%=t :publishers %></span>
  </div>
</div>
