 <div class="wiki-user-intro"> 
  <h4> <b> <%= @wiki_book['book_name'] %> </b> <span class="<%= wiki_logo_class(@wiki_book['is_present_in_wiki']) %>"> (<%= image_tag('Wikipedia.png', width: 18, height: 18)%>) </span> </h4>
  <hr />
</div>

<div class="user-enquire">
  Do you have an account in Wiki? <br >
  <div>
    <input type="radio" id="wiki1" name="wikiaccount" value="1" />
    <label for="wiki1"><span></span>Yes</label>
    <input type="radio" id="wiki2" name="wikiaccount" value="2" />
    <label for="wiki2"><span></span>No</label>
  </div>


  <div id="blk-1" class="toHide" style="display:none">
    <% if @wiki_book['is_present_in_wiki'] %>
    Update a article <%= @wiki_book['book_name'] %> in Wiki.
    <% else %>
    create a new page <%= @wiki_book['book_name'] %>(ಪುಸ್ತಕ)
    <% end %>
    <%= link_to "Next", "javascript:void(null)",onclick: "showNextDiv('step2');" , class: "btn btn-success"%>
  </div>


  <div id="blk-2" class="toHide" style="display:none">
    Please create your account in Wikipedia.<br />
    <%= link_to "Create Account", "https://kn.wikipedia.org/w/index.php?title=%E0%B2%B5%E0%B2%BF%E0%B2%B6%E0%B3%87%E0%B2%B7:UserLogin&returnto=1676&type=signup", onclick: "submitWikiInfo('#{@wiki_book['book_name']}', 'false');"  , target: "_blank" %>
  </div>

</div>



<script type="text/javascript">
  $(function() {
    $("[name=wikiaccount]").click(function(){
      $('.toHide').hide();
      $("#blk-"+$(this).val()).show('slow');
    });
  });


  function submitWikiInfo(book,is_account){
   $.ajax({
    //Your ajax code here to submit from via AJAX. refer jquery site . I gave sample eg.
    url: "/books/wiki_info",
    data: "book=" + book + "&& is_account=" + is_account
  });
 }

</script>

<style type="text/css">


  input[type="radio"] {
    display: none;
  }

  input[type="radio"] + label {
    color: #292321;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }

  input[type="radio"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  input[type="radio"] + label span {
    background-color: #292321;
  }

  input[type="radio"]:checked + label span {
    background-color: #5b9b00;
  }

  input[type="radio"] + label span,
  input[type="radio"]:checked + label span {
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
  }

  .user-enquire {
    text-align: center;
    width: 100%;
  }

</style>