<div class="user-enquire">
  ನಿಮ್ಮಲ್ಲಿ ವಿಕಿಪೀಡಿಯದ ಬಳಕೆದಾರ ಖಾತೆ (ಅಕೌಂಟ್) ಇದೆಯೇ? <br >
  <br />
  <div>
    <input type="radio" id="wiki1" name="wikiaccount" value="1" />
    <label for="wiki1"><span></span>ಹೌದು</label>
    <input type="radio" id="wiki2" name="wikiaccount" value="2" />
    <label for="wiki2"><span></span>ಇಲ್ಲ</label>
  </div>

  <br />
  <div id="blk-1" class="toHide" style="display:none">
   ದಯವಿಟ್ಟು ವಿಕಿಯಲ್ಲಿ <%= link_to "ಲಾಗ್ ಇನ್ (login)", 'https://kn.wikipedia.org/w/index.php?title=%E0%B2%B5%E0%B2%BF%E0%B2%B6%E0%B3%87%E0%B2%B7:UserLogin&returnto=%E0%B2%AE%E0%B3%81%E0%B2%96%E0%B3%8D%E0%B2%AF+%E0%B2%AA%E0%B3%81%E0%B2%9F', target: '_blank' %> ಮಾಡಿ. 
   <div class='submit-wiki-user'>
    <%= form_tag '/books/capture_user_name', class: 'wiki-user-info',id: 'capture-wiki-id',remote: true, method: :get do |f| %>
    <label>ನಿಮ್ಮ ವಿಕಿ ಬಳಕೆದಾರ ಹೆಸರನ್ನು ಟೈಪಿಸಿ:</label> <br />
    <%= text_field_tag :user_name, session[:wiki_user_id], id: "wiki-user-id" %>
    <br />
    <%= submit_tag "ಮುಂದೆ", onclick: "captureWikiUser(1)", class: "btn btn-success wiki-btn"%>
    <% end %>
  </div>

  <br />
</div>


<div id="blk-2" class="toHide" style="display:none">
  ನಿಮ್ಮ ವಿಕಿಪೀಡಿಯ ಖಾತೆಯನ್ನು ತೆರೆಯಿರಿ.<br />
  <%= link_to "ಖಾತೆ ಸೃಷ್ಟಿಸಿ", "https://kn.wikipedia.org/w/index.php?title=%E0%B2%B5%E0%B2%BF%E0%B2%B6%E0%B3%87%E0%B2%B7:UserLogin&returnto=1676&type=signup", onclick: "submitWikiInfo('#{@wiki_book['book_name']}', 'false');"  , target: "_blank" , class: "btn btn-success wiki-btn"%>
</div>

</div>




<script type="text/javascript">
  function submitWikiInfo(book,is_account){
    $.ajax({
    //Your ajax code here to submit from via AJAX. refer jquery site . I gave sample eg.
    url: "/books/wiki_info",
    data: "book=" + book + "&& is_account=" + is_account
  });
  }
</script>
