<div class="container">
  <div class="row smpl-step" style="border-bottom: 0; min-width: 500px;">
    <div class="col-xs-4 smpl-step-step active step1">
      <div class="text-center smpl-step-num ">Step 1</div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a class="smpl-step-icon"><i class="fa fa-user" style="font-size: 60px; padding-left: 12px; padding-top: 3px; color: black;"></i></a>
      <div class="smpl-step-info text-center">Confirm user registration.</div>
    </div>

    <div class="col-xs-4 smpl-step-step disabled step2">           
      <div class="text-center smpl-step-num">Step 2</div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a class="smpl-step-icon"><i class="fa fa-pencil-square-o" style="font-size: 60px; padding-left: 8px; padding-top: 8px; color: black;"></i></a>
      <div class="smpl-step-info text-center">Contribute to wiki.</div>
    </div>
    <div class="col-xs-4 smpl-step-step disabled step3">          
      <div class="text-center smpl-step-num">Step 3</div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a class="smpl-step-icon"><i class="fa fa-repeat" style="font-size: 60px; padding-left: 7px; padding-top: 7px; color: black;"></i></a>
      <div class="smpl-step-info text-center">Confirm user information.</div>
    </div>
  </div>
</div>


<div class="steps-box" id='step1'>
  <%= render 'user_enquire_form' %>
</div>
<div class="steps-box" style="display:none" id='step2'>
  <div class="row wiki-book-box">
    <div class="col-md-6 wiki-left-box">
      <%= render 'wiki_copy_text' %>
    </div>
    <div class="col-md-4 wiki-right-box">
      <%= render 'wiki_guide' %>
    </div>
  </div>
</div>
<div class="steps-box" style="display:none" id='step3'>
  <div class='submit-wiki-user'>
    <%= form_tag '/books/wiki_user_info', method: :get do |f| %>
    <label>Please enter your Wiki ID:</label> <br />
    <%= text_field_tag :user_name, '' %>
    <%= hidden_field_tag :book_name, @wiki_book['book_name'] %>
    <%= submit_tag "Finish", class: "btn btn-success"%>
    <% end %>
  </div>
</div>

<script type="text/javascript">
 function showNextDiv(id) {
  var prev_id = id - 1
  var next_id = id + 1
  var next_div_id = 'step' + next_id
  var prev_div_id = 'step' + prev_id
  var cur_div_id = 'step' + id
  document.getElementById('step1').style.display = 'none';
  document.getElementById('step2').style.display = 'none';
  document.getElementById('step3').style.display = 'none';
  document.getElementById(next_div_id).style.display = 'block';

  var removclassname = document.getElementsByClassName(cur_div_id);
  for(var i=0;i<removclassname.length;i++){
    removclassname[i].classList.remove("active");
    removclassname[i].className += ' complete';
  }
  var removclassname = document.getElementsByClassName(next_div_id);
  for(var i=0;i<removclassname.length;i++){
    removclassname[i].classList.remove("disabled");
    removclassname[i].className += ' active';
  }

}
</script>
