<div class="alert alert-info wiki-intro-info-box" role="alert">
  <p>
    ವಿಕಿ ಲೇಖನದ ಮುನ್ನೋಟ.<br />
    (ತೆರೆಯ ಎಡಭಾಗದಲ್ಲಿರುವ ಮಾಹಿತಿಯನ್ನು ಬಳಸಿ ವಿಕಿ ಪುಟ ಸೃಷ್ಟಿಸಿದಾಗ ವಿಕಿ ಪುಟವು ಈ ಕೆಳಕಂಡಂತೆ ಕಾಣುತ್ತದೆ.)
  </p>
</div>
<div class="wiki-preview">
  <div class="wiki-main-text wiki-steps-box">
   <p> <b><%= @wiki_book['book_name'] %></b> ಪುಸ್ತಕವನ್ನು <b> <%= @wiki_book['author'] %></b> ಅವರು <%= @wiki_book['year'] %>ರಲ್ಲಿ ರಚಿಸಿದರು. ಇದನ್ನು <b> <%= @wiki_book['publisher'] %></b> ಪ್ರಕಟಿಸಿದೆ.
   </p>
   <div class="row">
    <div class="col-md-6">
      <b> ಉಲ್ಲೇಖಗಳು </b>
      <hr />
      <ol>
        <li> <%= link_to "'#{@wiki_book['book_name']}'", clean_link(@wiki_book['url']) , target: "_blank" %>. <%= @wiki_book['library'] %>.</li>
      </ol>
    </div>
    <div class="col-md-6">
     <div class="infobox-intro">
       <%= @wiki_book['book_name'] %>
     </div>
     <div class="panel panel-default">
       <div class="panel-body">
         <table class="table">
           <tr>
             <th>
               <%= t('author') %>
             </th>
             <td>
               <%= @wiki_book['author'] %>
             </td>
           </tr>
           <tr>
             <th>
               <%= t('country') %>
             </th>
             <td>
               <a href="https://kn.wikipedia.org/wiki/%E0%B2%AD%E0%B2%BE%E0%B2%B0%E0%B2%A4" target="_blank"> ಭಾರತ </a>
             </td>
           </tr>
           <tr>
             <th>
               <%= t('language') %>
             </th>
             <td>
               <a href="https://kn.wikipedia.org/wiki/%E0%B2%95%E0%B2%A8%E0%B3%8D%E0%B2%A8%E0%B2%A1" target="_blank"> ಕನ್ನಡ </a>
             </td>
           </tr>
           <tr>
             <th>
               <%= t('publisher') %>
             </th>
             <td>
               <%= @wiki_book['publisher']  %>
             </td>
           </tr>
           <tr>
             <th>
               <%= t('published_date') %>
             </th>
             <td>
               <%= @wiki_book['year']  %>
             </td>
           </tr>
         </table>
       </div>
     </div>
     <% if @wiki_book['other_metadata'] %>
     <% if @wiki_book['other_metadata']['wikimedia_url'] %>
     <div class="panel panel-default">
       <div class="panel-body">
         <div class="source-url-image">
           <img class="noviewer" width="30" height="40" data-file-height="1376" data-file-width="1024" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/45px-Commons-logo.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/59px-Commons-logo.svg.png 2x" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png" alt="">
         </div>
         <div>
           ವಿಕಿಮೀಡಿಯ ಕಣಜದಲ್ಲಿ <%= link_to get_commons_filename(@wiki_book['other_metadata']['wikimedia_url']),@wiki_book['other_metadata']['wikimedia_url'], target: "_blank" %> ವಿಷಯಕ್ಕೆ ಸಂಬಂಧಿಸಿದ ಮಾಧ್ಯಮಗಳಿವೆ .
         </div>
       </div>
     </div>
     <% end %>
     <% if @wiki_book['other_metadata']['wikisource_url'] %>
     <div class="panel panel-default">
       <div class="panel-body">
         <div class="source-url-image">
           <img width="50" height="52" data-file-height="430" data-file-width="410" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/75px-Wikisource-logo.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/100px-Wikisource-logo.svg.png 2x" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/50px-Wikisource-logo.svg.png" alt="Wikisource-logo.svg">
         </div>
         <div>
          <a href="https://kn.wikisource.org/wiki/%E0%B2%AE%E0%B3%81%E0%B2%96%E0%B3%8D%E0%B2%AF_%E0%B2%AA%E0%B3%81%E0%B2%9F" target="_blank"> ವಿಕಿಸೋರ್ಸ್ </a> ತಾಣದಲ್ಲಿ ಈ ವಿಷಯಕ್ಕೆ ಸಂಬಂಧಪಟ್ಟ ಮೂಲಕೃತಿಗಳು ಇವೆ:
           <%= link_to get_wikisource_filename(@wiki_book['other_metadata']['wikisource_url']),@wiki_book['other_metadata']['wikisource_url'], target: "_blank" %> 
         </div>
       </div>
     </div>
     <% end %>
     <% end %>
   </div>
 </div>
 <div class="cat-link">
   <div class="panel panel-default">
     <div class="panel-body">
       <p>
         <a href="https://kn.wikipedia.org/wiki/%E0%B2%B5%E0%B2%BF%E0%B2%B6%E0%B3%87%E0%B2%B7:Categories" target="_blank"> ವರ್ಗಗಳು: </a> <% @wiki_book['categories'].each do |category|   %>
         <% unless category == 'ಲಭ್ಯವಿಲ್ಲ' or category == 'ಸಾಮಾನ್ಯ' %>
         <%= category %> |
         <% end %>
         <% end %>
         <%= @wiki_book['author'] %> ಅವರ ಪುಸ್ತಕಗಳು |
         ಕನ್ನಡ ಪುಸ್ತಕಗಳು | 
         ಪುಸ್ತಕ ಸಂಚಯ - ಐಇಜಿ ಯೋಜನೆ
       </p>
     </div>
   </div>
 </div>
</div>
</div>
