<!-- Alligment should not be changed. As it is affecting copy template.
  FIx copy template and correct the alignment -->
<div id="fe_text_wiki"><p class="wiki-main-text wiki-steps-box">'''<%= @wiki_book['book_name'] %>''' ಪುಸ್ತಕವನ್ನು <% unless @wiki_book['author'] == 'ಲಭ್ಯವಿಲ್ಲ' %>'''<%= @wiki_book['author'] %>''' ಅವರು <% end %> <%= @wiki_book['year'] %>ರಲ್ಲಿ ರಚಿಸಿದರು.<% unless @wiki_book['publisher'] == 'ಲಭ್ಯವಿಲ್ಲ' %> ಇದನ್ನು '''<%= @wiki_book['publisher'] %>''' ಪ್ರಕಟಿಸಿದೆ '''<% end %>&lt;ref name="<%= @wiki_book['library'] %> Source URL">{{cite web | url=<%= clean_link(@wiki_book['url']) %> | title=<%= @wiki_book['book_name'] %> | publisher=<%= @wiki_book['library'] %>}}&lt;/ref>'''.</p>

<p class="wiki-info-text wiki-steps-box">
  {{Infobox Book <br>
  | name          = <%= @wiki_book['book_name'] %> <br>
  | title_orig    =  <br>
  | translator    =  <br>
  | image         =  <br>
  | image_caption =  <br>
  | author        = <%= @wiki_book['author'] == 'ಲಭ್ಯವಿಲ್ಲ' ? "" :  @wiki_book['author'] %> <br>
  | illustrator   =  <br>
  | cover_artist  =  <br>
  | country       = [[ಭಾರತ ]]<br>
  | language      = [[ಕನ್ನಡ]]  <br>
  | series        =  <br>
  | subject       =  <br>
  | genre         =  <br>
  | publisher     = <%= @wiki_book['publisher'] == 'ಲಭ್ಯವಿಲ್ಲ' ? "" : @wiki_book['publisher'] %> <br>
  | pub_date      = <%= @wiki_book['year'] %> <br>
  | english_pub_date =  <br>
  | pages         =  <br>
  | isbn          =  <br>
  | oclc          =  <br>
  | preceded_by   =  <br>
  | followed_by   =  <br>
}}</p>
<p class="wiki-reference-text wiki-steps-box">==ಉಲ್ಲೇಖಗಳು== <br>
  &lt;references />
</p>

<% if @wiki_book['other_metadata'] %>
<% if @wiki_book['other_metadata']['wikimedia_url'] %>
{{commons|File:<%= get_commons_filename(@wiki_book['other_metadata']['wikimedia_url']) %>.djvu|<%= get_commons_filename(@wiki_book['other_metadata']['wikimedia_url']) %>}}
<% end %>
<% if @wiki_book['other_metadata']['wikisource_url'] %>
<br />
{{Wikisource|Index:<%= get_wikisource_filename(@wiki_book['other_metadata']['wikisource_url']) %>.djvu|<%= get_wikisource_filename(@wiki_book['other_metadata']['wikisource_url']) %>}}
<% end %>
<% end %>

<p class="wiki-tag-text wiki-steps-box">
  <% @wiki_book['categories'].each do |category|   %>
  <!-- Exclude category ಲಭ್ಯವಿಲ್ಲ -->
  <% unless category == 'ಲಭ್ಯವಿಲ್ಲ' or category == 'ಸಾಮಾನ್ಯ' %>
  [[ವರ್ಗ:<%= category %>]] <br>
  <% end %>
  <% end %>
  [[ವರ್ಗ:<%= @wiki_book['author'] %> ಅವರ ಪುಸ್ತಕಗಳು]] <br>
  [[ವರ್ಗ:ಕನ್ನಡ ಪುಸ್ತಕಗಳು]] <br>
  [[ವರ್ಗ:ಪುಸ್ತಕ ಸಂಚಯ - ಐಇಜಿ ಯೋಜನೆ]] <br>
</p>
  </div>
