<div class="main-search">
  <div class="intoduction-text">
    <p align="center">
      <a href="http://oudl.osmania.ac.in/" target="_blank">ಓಸ್ಮಾನಿಯ ವಿಶ್ವವಿದ್ಯಾಲಯದ ಡಿಜಿಟಲ್ ಲೈಬ್ರರಿ </a> ಮತ್ತು <a href="http://dli.gov.in/" target="_blank"> ಡಿಜಿಟಲ್ ಲೈಬ್ರರಿ ಆಫ್ ಇಂಡಿಯಗಳಲ್ಲಿರುವ </a> ಮುಕ್ತ ಕನ್ನಡ ಪುಸ್ತಕಗಳನ್ನು, ಅವುಗಳ ಲೇಖಕರು ಹಾಗೂ ಪ್ರಕಾಶಕರನ್ನು ಸುಲಭವಾಗಿ ಹುಡುಕಿ.
    </p>
  </div>
  <hr />
  <div class="form-group main-search-field">
    <%= form_tag root_path, method: :get do %>
    <%= search_field_tag "search" ,params[:search], autofocus: params[:search] ? false : true , class: 'form-control kan-ime', placeholder: "#{t(:huduku)}" %>
    <% end %>
    <p class="search-bottom-text"> ಈ ಹುಡುಕು ಸೌಲಭ್ಯವನ್ನು ನಮ್ಮ <a href="http://samooha.sanchaya.net" target="_blank"> ಸಮೂಹ ಸಂಚಯ ಯೋಜನೆ </a> ಸಾಧ್ಯವಾಗಿಸಿದೆ.</p>
  </div>
  <hr />
</div>


<% if params && params[:search] && !params[:search].blank? %>
<div class="word-lists"> 
  <%= render 'book_lists' %>
</div>
<% else %>
  <% if @wiki_book and !@wiki_book.blank? %>
    <%= render "wiki_book" %>
  <% end %>
  <%= render 'stats' %>
<% end %>